Repository LarsKemper/PassTrans, changes with the labels that .github/labeler.yml gives for each.
All labels: App, Frontend, Backend

.github/labeler.yml:

App: app/**/*
Frontend: ukiyo/**/*
Backend: eunoia/**/*

fix lint errors
  eunoia/.eslintrc.js
  eunoia/controllers/dashboard.controller.ts
  eunoia/index.ts
  eunoia/models/Transfer.ts
  eunoia/resources/email/VerificationTemplate.ts
  eunoia/routes/dashboard.routes.ts
  eunoia/routes/transfer.routes.ts
  eunoia/shared/enums/mailTypes.enum.ts
  eunoia/shared/types/Transfer.ts
  ukiyo/.eslintrc.js
  ukiyo/src/pages/TransferDashboard/TransferDashboard.tsx
  ukiyo/src/services/localStorage.service.ts
Labels: Frontend, Backend

PT-007-Transfer-Verification (#14)
  eunoia/.eslintrc.js
  eunoia/controllers/dashboard.controller.ts
  eunoia/index.ts
  eunoia/jobs/email.cron.ts
  eunoia/jobs/transfer.cron.ts
  eunoia/models/Transfer.ts
  eunoia/package-lock.json
  eunoia/package.json
  eunoia/resources/email/VerificationTemplate.ts
  eunoia/routes/dashboard.routes.ts
  eunoia/routes/transfer.routes.ts
  eunoia/shared/enums/mailTypes.enum.ts
  eunoia/shared/types/Transfer.ts
  ukiyo/.env
  ukiyo/.eslintrc.js
  ukiyo/.gitignore
  ukiyo/public/apple-touch-icon-180x180.png
  ukiyo/public/favicon.ico
  ukiyo/public/icon-192x192.png
  ukiyo/public/icon-256x256.png
  ukiyo/public/icon-384x384.png
  ukiyo/public/icon-512x512.png
  ukiyo/src/api/dashboard.api.ts
  ukiyo/src/assets/logo/logo.svg
  ukiyo/src/assets/logo/logo_small_icon_only_inverted.png
  ukiyo/src/components/Nav.tsx
  ukiyo/src/index.css
  ukiyo/src/pages/TransferDashboard/TransferDashboard.tsx
  ukiyo/src/pages/TransferVerification.tsx
  ukiyo/src/routes/index.tsx
  ukiyo/src/services/localStorage.service.ts
  ukiyo/src/shared/enums/apiRoutes.enum.ts
  ukiyo/src/shared/enums/frontendRoutes.enum.ts
Labels: Frontend, Backend

fix screens
  .assets/screen1.png
  .assets/screen2.png
  .assets/screen3.png
  .assets/screen4.png
  .assets/screen5.png
  .assets/screen6.png
  .assets/screen7.png
  .assets/screen8.png
Labels: none

Update README.md
  README.md
Labels: none

fix
  README.md
  package.json
Labels: none

Update README.md
  README.md
Labels: none

PT-008 fix Home, CreateTransfer, Verification, Modals
  ukiyo/package-lock.json
  ukiyo/package.json
  ukiyo/src/components/AccessViewModal.tsx
  ukiyo/src/components/Nav.tsx
  ukiyo/src/pages/CreateTransferWizard/Steps/PasswordInformation-Wizard.tsx
  ukiyo/src/pages/CreateTransferWizard/Steps/TransferLink-Wizard.tsx
  ukiyo/src/pages/Home.tsx
  ukiyo/src/shared/enums/config.enum.ts
Labels: Frontend

update Readme
  README.md
  package.json
Labels: none

PT-008-Production-Make-Over-V1 (#16)
  ukiyo/package-lock.json
  ukiyo/package.json
  ukiyo/src/components/AccessViewModal.tsx
  ukiyo/src/components/Nav.tsx
  ukiyo/src/pages/CreateTransferWizard/Steps/PasswordInformation-Wizard.tsx
  ukiyo/src/pages/CreateTransferWizard/Steps/TransferLink-Wizard.tsx
  ukiyo/src/pages/Home.tsx
  ukiyo/src/shared/enums/config.enum.ts
Labels: Frontend

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

update dependencies
  eunoia/package-lock.json
  ukiyo/package-lock.json
Labels: Frontend, Backend

Update README.md
  README.md
Labels: none
